# See http://www.playframework.com/documentation/latest/ApplicationSecret for more details.
application.secret="xxxxxxxxxxxxxxxxxxx"

elasticsearch.url="http://xxx.xxx.xxx.xxx:xxxx"

# Coins
coins={
	ltc={
		ticker="LTC"
		genesisBlock="12a765e31ffd4059bada1e25190f6e98c99d9714d334efa41a195a7e7e04bfe2"
		ipNode="xxx.xxx.xxx.xxx"
		rpcPort="xxxx"
		rpcUser="xxxxxxxxxxxxxx"
		rpcPass="xxxxxxxxxxxxxx"
	}
	doge={
		ticker="DOGE"
		genesisBlock="1a91e3dace36e2be3bf030a65679fe821aa1d6ef92e7c9902eb318182c355691"
		ipNode="xxx.xxx.xxx.xxx"
		rpcPort="xxxx"
		rpcUser="xxxxxxxxxxxxxx"
		rpcPass="xxxxxxxxxxxxxx"
	}
}